---
import { Icon } from "astro-icon/components";
import YukinaConfig from "../../yukina.config";
import I18nKeys from "../locales/keys";
import { i18n } from "../locales/translation";
import { GetCategories, GetTags } from "../utils/content";
import SocialIcon from "./widgets/SocialIcon.astro";

const tags = await GetTags();
const categories = await GetCategories();

const categoryKeys = [...categories.keys()];
const tagKeys = [...tags.keys()];
---

<div class="flex w-full flex-row justify-center">
  <div class="flex flex-col space-y-3">
    <div
      class="onload-animation rounded-3xl bg-[var(--card-color)] p-3"
      style=`animation-delay: var(--onload-animation-delay);`
    >
      <a href="/about" class="avatar-wrapper">
        <img
          src={YukinaConfig.avatarUrl}
          alt="avatar"
          class="avatar lozad select-none"
        />
      </a>
      <div class="username mt-4">
        <p>{YukinaConfig.username}</p>
      </div>
      <p class="slogan mt-2 text-center text-[var(--text-color-lighten)]">
        {YukinaConfig.sign}
      </p>
      {
        YukinaConfig.socialLinks.length > 0 && (
          <div class="mt-1 flex flex-row justify-center">
            <div class="flex w-[184px] flex-wrap justify-center gap-2">
              {YukinaConfig.socialLinks.map((item) => (
                <SocialIcon name={item.icon} link={item.link} />
              ))}
            </div>
          </div>
        )
      }
    </div>

    <!-- categories -->
    {
      categories.size !== 0 && (
        <div
          class="onload-animation space-y-2 rounded-3xl bg-[var(--card-color)] p-3"
          style="animation-delay: calc(var(--onload-animation-delay) + 1 * var(--onload-animation-interval));"
        >
          <div class="title m-[0.375rem]">
            <a
              href="/categories/"
              class="pl-4 text-xl font-bold text-[var(--text-color)] transition-colors hover:text-[var(--primary-color)]"
            >
              {i18n(I18nKeys.side_bar_categories)}
            </a>
          </div>
          <div class="relative flex flex-col">
            {categoryKeys
              .slice(0, YukinaConfig.maxSidebarCategoryChip + 1)
              .map((category) => (
                <a
                  href={`/categories/${category}`}
                  class="category flex flex-row items-center justify-between rounded-lg px-3 py-2 transition-all hover:bg-[var(--primary-color-lighten)]"
                >
                  <p class="text-[var(--text-color)] transition-all">
                    {categories.get(category)!.name}
                  </p>
                  <span class="rounded-md bg-[var(--primary-color-lighten)] px-2.5 py-0.5 text-[var(--primary-color)]">
                    {categories.get(category)!.posts.length}
                  </span>
                </a>
              ))}
            {categoryKeys.length >= YukinaConfig.maxSidebarCategoryChip + 1 && (
              <div class="absolute bottom-0 flex h-11 w-full flex-row items-center justify-center bg-gradient-to-t from-[var(--card-color)] from-25% to-transparent backdrop-blur-sm">
                <a
                  href="/categories/"
                  class="flex flex-row items-center space-x-1 text-[var(--primary-color)] transition-colors hover:brightness-75 dark:hover:brightness-125"
                >
                  <span>{i18n(I18nKeys.side_bar_view_more)}</span>
                  <Icon name="mingcute:arrow-right-line" />
                </a>
              </div>
            )}
          </div>
        </div>
      )
    }

    <!-- tags -->
    {
      tags.size !== 0 && (
        <div
          class="onload-animation space-y-2 rounded-3xl bg-[var(--card-color)] p-3"
          style="animation-delay: calc(var(--onload-animation-delay) + 2 * var(--onload-animation-interval));"
        >
          <div class="title m-[0.375rem]">
            <a
              href="/tags/"
              class="pl-4 text-xl font-bold text-[var(--text-color)] transition-colors hover:text-[var(--primary-color)]"
            >
              {i18n(I18nKeys.side_bar_tags)}
            </a>
          </div>
          <div class="relative flex max-w-[224px] flex-row flex-wrap">
            {tagKeys.slice(0, YukinaConfig.maxSidebarTagChip + 1).map((tag) => (
              <a
                href={`/tags/${tag}`}
                class="tag m-1 grow rounded-md bg-[var(--primary-color-lighten)] px-2 py-1 transition-all hover:brightness-95"
              >
                <p class="text-center text-sm text-[var(--primary-color)]">
                  {tags.get(tag)!.name}
                </p>
              </a>
            ))}
            {tagKeys.length >= YukinaConfig.maxSidebarTagChip + 1 && (
              <div class="absolute bottom-0 flex h-10 w-full flex-row items-center justify-center bg-gradient-to-t from-[var(--card-color)] from-25% to-transparent backdrop-blur-sm">
                <a
                  href="/tags/"
                  class="flex flex-row items-center space-x-1 text-[var(--primary-color)] transition-colors hover:brightness-75 dark:hover:brightness-125"
                >
                  <span>{i18n(I18nKeys.side_bar_view_more)}</span>
                  <Icon name="mingcute:arrow-right-line" />
                </a>
              </div>
            )}
          </div>
        </div>
      )
    }
  </div>
</div>
<style>
  .avatar-wrapper::after {
    @apply absolute left-3 top-3 h-56 w-56 rounded-xl transition-all content-[''];
  }

  .avatar-wrapper::after:hover {
    @apply bg-black/25 dark:bg-black/50;
  }

  .avatar {
    @apply h-56 w-56 rounded-xl transition-all hover:cursor-pointer;
  }

  .username > p {
    @apply text-center text-xl font-semibold text-[var(--text-color)];
    font-family: var(--title-font);
  }

  .username > div {
    @apply mx-auto mt-1 h-1 w-8 rounded-full bg-[var(--primary-color)];
  }

  .slogan {
    font-family: var(--title-font);
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .title::before {
    position: absolute;
    display: block;
    content: " ";
    background-color: var(--primary-color);
    top: 3px;
    bottom: 3px;
    width: 0.3rem;
    border-radius: 4px;
  }

  .title p {
    font-family: var(--primary-font);
  }

  .category {
    font-family: var(--primary-font);
  }

  .category:hover > p {
    @apply pl-2 text-[var(--primary-color)];
  }

  .tag {
    font-family: var(--primary-font);
  }
</style>
