---
// Component Imports
import Main from "../layouts/MainLayout.astro";

export interface Props {
  chips: {
    name: string;
    slug?: string;
    subChip?: string;
  }[];
  title?: string;
  subTitle?: string;
  bannerImage?: string;
  slug?: string;
}

const { chips, title, subTitle, bannerImage, slug } = Astro.props;
---

<Main title={title} subTitle={subTitle} bannerImage={bannerImage} slug={slug}>
  <div class="flex flex-col rounded-2xl bg-[var(--card-color)] p-6">
    <div class="grid grid-cols-1 gap-1 md:grid-cols-2 lg:grid-cols-3">
      {
        chips.map((chip) => (
          <a
            href={chip.slug}
            class="chip flex select-none flex-row items-center justify-between rounded-lg px-4 py-2 transition-all hover:bg-[var(--primary-color-lighten)]"
          >
            <p class="chip-name truncate pl-0 text-lg text-[var(--text-color)] transition-all">
              {chip.name}
            </p>
            {chip.subChip && (
              <span class="ml-2 rounded-md bg-[var(--primary-color-lighten)] px-3 py-1 text-[var(--primary-color)]">
                {chip.subChip}
              </span>
            )}
          </a>
        ))
      }
    </div>
  </div>
</Main>

<style>
  .chip:hover .chip-name {
    @apply pl-2 text-[var(--primary-color)];
  }
</style>
